:root {
   --green: #5aa469;
   --red: #d35d6e;
}

* {
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   line-height: 1.5;
}

html {
   padding: 0;
   margin: 0;
   font-size: 1.25rem;
}

body {
   padding: 0;
   margin: 0;
}

.container {
   padding: 1rem 5rem;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header h1 {
   font-size: 2.5rem;
}

.header .score,
.timer {
   font-size: 2rem;
   font-weight: bold;
}

.typing-content {
   display: inline-block;
   margin: 2rem 0;
   font-size: 2rem;
   width: 100%;
   height: 6rem;
   overflow-wrap: break-word;
   overflow: hidden;
}

.typing-content__all {
   overflow: hidden;
   width: 100%;
   transition: all 0.4s;
}

.word {
   padding: 0.25rem;
   white-space: nowrap;
   border-radius: 5px;
   transition: all 0.1s;
}

.word--active {
   background-color: #ddd;
}

.word--wrong {
   color: var(--red);
}

.word--right {
   color: var(--green);
}

.highlight {
   background: #ddd;
}

.highlight--wrong {
   background-color: var(--red);
}

#typing-field {
   padding: 0.5rem 1rem;
   font-size: 1.5rem;
   border-color: var(--green);
   border-width: 2px;
   border-radius: 5px;
}

.btn {
   padding: 0.5rem;
   font-size: 1rem;
   border: 0;
   outline: none;
   background-color: var(--green);
   border-radius: 5px;
   cursor: pointer;

   transition: all 0.4s;
}

.btn:hover {
   filter: brightness(0.8);
}

label {
   font-size: 1.25rem;
   padding: 0 0.5rem 0 0;
}
